header {
  --background: transparent;
  --text: $dark-clr;
}

.nav {
  height: 60px;
  width: 100%;
  position: fixed;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 3;
  color: var(--text);
  background: var(--background);
}

.nav__img {
  height: 20px;
  margin-left: 50px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.nav__title {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 26px;
  margin-left: 1rem;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.nav__list {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.nav__list__home, .nav__list__about {
  padding-right: 100px;
}

.nav__list__contact {
  padding-right: 50px;
}

.nav-scrolled {
  --background: #121212;
  --text: #fafafa;
}

@media only screen and (max-width: 991px) {
  .nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .nav__img {
    height: 15px;
  }
  .nav__title {
    font-size: 18px;
  }
  .nav__list {
    font-size: 14px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .nav__list__home, .nav__list__about {
    padding-right: 50px;
  }
  .nav__list__contact {
    padding-right: 50px;
  }
}
