$dark-clr: #121212;
$white-clr: #fafafa;
$main-font: 'Montserrat', sans-serif;

.nav {
    background-color: $dark-clr 0%;
    height: 60px;
    width: 100%;
    position: fixed;
    top: 0;
    display: flex;
    z-index: 3;

    &__img {
        height: 20px;
        margin-left: 50px;
        align-self: center;
    }

    &__title {
        font-family: $main-font;
        font-weight: 600;
        font-size: 26px;
        color: $dark-clr;
        margin-left: 1rem;
        align-self: center;
    }

    &__list {
        font-family: $main-font;
        font-size: 20px;
        flex-grow: 1;
        display: flex;
        align-items: flex-start;
        justify-content: flex-end;

        &__home, &__about {
            padding-right: 100px;
        }

        &__contact {
            padding-right: 50px;
        }
    }
}